body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  background: url(../video/hero-video.mp4);
}

.logo {
  width: 56px;
  position: absolute;
  top: 14px;
  left: 42px;
}

.logo img {
  width: 100%;
}

.nav-option {
  position: absolute;
  right: 0;
  top: 21px;
  right: 42px;
  color: #ffffff;
}

.nav-option span{
  padding: 7px 7px;
}

.ovalo {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.registro {
  position: absolute;
  top: 72px;
  right: 0;
  background-color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.versalitas {
  font-variant: small-caps;
  font-weight: bold;
}

.azulino {
  color: #352384;
}

.rem2 {
  font-size: 2rem;
  font-weight: bold;
}

.blocks {
  display: block;
}
.small {
  font-size: 0.7rem;
  padding-top: 7px;
}
