body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #728099;
  background-color: #660e83;
}

.logo {
  width: 63px;
  position: absolute;
  top: 14px;
  left: 70px;
}

.logo img {
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
}

.nav-option {
  position: fixed;
  right: 0;
  top: 28px;
  right: 70px;
  color: #ffffff;
}

.pink {
  border: 1px solid #ff00bf;
  border-radius: 7px;
  color: #ff00bf;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.back-header {
  width: 1350px;
  height: 84px;
}

.back-white {
  background-color: #ffffff;
}

.color-gris {
  color: #333447;
  z-index: 99999999;
}

.no-show {
  display: none !important;
}

.nav-option span{
  margin: 0 7px;
  padding: 14px 21px;
}

.ovalo {
  border: 1px solid #ffffff;
  border-radius: 7px;
}

.registro {
  box-sizing: border-box;
  padding: 56px;
  position: absolute;
  top: 84px;
  right: 0;
  background-color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.versalitas {
  font-variant: small-caps;
  font-weight: bold;
}

.registro .versalitas{
  padding-bottom: 14px;
  font-size: 1.3rem;
}

.azulino {
  color: #352384;
}

.big {
  font-size: 2.5rem;
  font-weight: bold;
}

.blocks {
  display: block;
}

.small {
  font-size: 0.6rem;
  padding: 7px;
}

.decor {
  width: 483px;
  padding: 21px 0 7px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #352384;
  font-size: 1rem;
}

button {
  margin: 21px 0 ;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  border: none;
}

#become {
  background-color: #ff00bf;
  padding: 14px 21px;
  border-radius: 7px;
  color: #ffffff;
}

#sign {
  padding: 14px 21px;
  background-color: #ffffff;
  text-decoration: underline;
}

.informacion {
  background: linear-gradient(#660e83, #2b1e66);
  color: #ffffff;
}

.caja-info {
  width: 80%;
  height: 100%;
  margin: 0 10%;
  padding-top: 1%;

}

.xerry, figure {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
}

.frase {
  margin-bottom: 70px;
}

figure img {
  width: 100%;
}

.frase h1, .frase h1+h1, .text-video h1,.text-video-right h1 {
  margin-top: 0;
}

.no-botton {
  margin-bottom: 0;
}

.box-videos {
  position: relative;
  height: 504px;
  background-color: #ffffff;
}

.text-video, .text-video-right {
  width: 420px;
  box-sizing: border-box;
  padding: 35px;
  color: #000000;
}

.text-video-right {
  position: absolute;
  top: 0;
  right: 0;
}

.img-video-right, .img-video-left {
  width: 896px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.img-video-right {
  right: 0;
}

.img-video-left {
  left: 0;
}

iframe {
  width: 100%;
}

h1 {
  font-size: 1.9rem;
}

footer {
  background-color: #333447;
  color: #ffffff;
}

.all-foot{
  width: 80%;
  margin: 0 10%;
  padding: 3% 0;
  display: inline-block;
  position: relative;
}

.login, .partner, .learn, .images-foot {
  width: 100px;
  display: inline-block;
  margin-right: 14%;
}

.images-foot {
  position: absolute;
  top: 42px;
  right: 0;
}

.images-foot  {
  width: 140px;
}

.images-foot .blocks img {
  width: 100%;
}

.all-foot h2 {
  font-size: 1.3rem;
}

.all-foot h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.all-foot .blocks {
  margin: 28px 0;
  font-size: 0.9rem;
}

.all-foot .blocks:hover {
  color: #ff00bf;
  cursor: pointer;
}

.social {
  width: 100%;
  text-align: center;
}

.social span {
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 7px;
  margin: 0 28px;
}

hr {
  width: 50%;
  margin: 28px 25% 0 25%;
}

.creditos {
  text-align: center;
  padding: 35px 0;
}
